<html>
<body>
    <div style="word-break:break-word">
        <table class="x_w100" border="0" width="600" cellspacing="0" cellpadding="0" align="center" bgcolor="#F7F7F9" style="width: 600px;background-color: rgb(247, 247, 249);padding: 0px;margin: 0px auto !important;" min-scale="0.7666666666666667">
            <tbody>
                <tr>
                    <td align="center" style="background:#52698e; text-align:center; font-family:Arial,Tahoma,sans-serif; color:#425968; font-size:13px; line-height:14px">
                        <table border="0" width="600" cellspacing="0" cellpadding="0" style="border-spacing:0; width:100%">
                            <tbody>
                                <tr style="background-color: #52698e">
                                    <td width="140" height="98">
                                        
                                    </td>
                                    <td align="center" valign="bottom" height="98">
                                        <table style="width:100%;margin:0 auto">
                                            <tbody>
                                                <tr>
                                                    <td height="44" style="font-size:20px;line-height:1.5;font-weight:bold;color:#fff;text-align: center; white-space: nowrap;">
                                                        [APPLICATION_NAME]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="16"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="140"></td>
                                </tr>
                                <tr height="32" style="background-color: #52698e">
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" width="600" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td valign="top" width="18">
                                        <table width="18" cellspacing="0">
                                            <tbody>
                                                <tr height="48" style="background:#52698e">
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="564">
                                        <table class="x_w100" border="0" width="100%" cellspacing="0" cellpadding="0" align="center" style="margin:0px; padding:0px; box-shadow:0px 2px 10px rgba(23,40,52,0.08)">
                                            <tbody>
                                                <tr>
                                                    <td class="x_pad-sides-20" align="center" style="border-radius:6px; text-align:left; background-color:#ffffff; padding:24px 24px 24px 24px">
                                                       [BODY]
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td valign="top" width="18">
                                        <table width="18" cellspacing="0">
                                            <tbody>
                                                <tr height="48" style="background:#52698e">
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" height="60" style="background-color:#f7f7f9"></td>
                </tr>
                <tr style="background-color:#52698e">
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" style="background-color:#52698e">
                            <tbody>
                                <tr>
                                    <td height="36" style="background-color:#52698e"></td>
                                </tr>
                                <tr>
                                    <td style="background-color:#52698e; color:#fff">
                                        <table border="0" width="600" cellspacing="0" cellpadding="0" style="color:#fff">
                                            <tbody>
                                                <tr align="center">
                                                    <td>
                                                    <td>
                                                        <span class="x_footer" style="color:#ffffff; font-size:12px; line-height:18px; text-align:center; margin:0!important">
                                                            This email is generated automatically, please do not reply to this email. If you need further assistance, <br /> please contact MAX SYSTEM Sdn bhd at
                                                        </span>
                                                        <br />
                                                        <span class="x_footer" style="color:#ffffff; font-size:12px; line-height:18px; text-align:center; margin:0!important">
                                                            [HELP_DESK_EMAIL]
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                     </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr cellspacing="0">
                    <td align="center" bgcolor="#52698e" height="32">
                       &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
