<div style="font-family: lato, arial, sans, serif, EmojiFont; line-height: 24px;">
    <div style="text-align:center; line-height:36px; padding-bottom:24px; border-bottom:1px solid #DADDE2">
        <span style="font-size:18pt">Pendaftaran Barjaya E-PENDUDUK.</span>
    </div>
    <div style="padding-top:24px; padding-bottom:16px">
        <span style="font-size:12pt"> Selamat Datang [NAME] ke [APPLICATION_NAME]. Terima Kasih atas memilih sini ini. Sila klik link dibawah untuk pengesahan pengguna anda. </span>
    </div>
    <div style="padding-bottom:16px">
        <table class="x_w100" border="0" width="100%" cellspacing="0" cellpadding="0" align="center" style="font-size:12pt;word-break: break-word;">
            <tbody>
                <tr style="vertical-align: top;">
                    <td style="text-align:center; padding-bottom:5px;"><a href='[URL]'>Tekan sini untuk pengesahan</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="font-size:12pt"></div>
    <div style="font-size:12pt"></div>
    <div style="font-size:12pt; padding-bottom:8px"> 
        Pengguna telah berjaya diwujudkan. Terima kasih atas minat anda yang mengagumkan kepada sistem kami. <br aria-hidden="true">
    </div>
</div>